.container {
    background-color: #D40000;
    padding: 1rem;
    text-align: center;
    
}

.i-am-iris {
    color: white;
    font-weight: bold;
    font-size: 24pt;
}

.lh44 {
    color: #FCE903;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    /* right: 1rem; */
    color: white;
}

#lh44image {
    max-width: 80%;
}